*{margin: 0; padding: 0; box-sizing: border-box;}

.con
{
  overflow: hidden;
  padding-left: 5px;
  height: 69.5vh;
  color: white;
  background-color: #222222;
  border: none;
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.form {display: inline-flex; flex-direction: row; padding-left: 300px;}
.search-field 
{
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 5px;
  outline: none;
}
.search-button 
{
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}
.search-button img 
{
  padding-top: 5px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.button-field 
{
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: white;
}

h1{font-size: 50px; padding-top: 20px; color: white;}

.slideshow-container 
{
  display: grid;
  grid-column-gap: 3px;
  grid-template-columns: 1fr 1fr;
  position: relative;
  margin: auto;
  float: left;
}

.mySlides {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.fade 
{
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade 
{
  from {opacity: .4}
  to {opacity: 1}
}

#navbar 
{
  float: left;
  display: grid;
  grid-template-columns: 50% 30%;
  width: 100%;
  height: 8vh;
  z-index: 0;
  align-items: center;
  background-color: black;
}

.a
{
  font-size: 15px;
  text-align: center;
  display: block;
  background-color: black;
  color: #f2f2f2;
  padding: 14px;
  outline: none;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.bg
{
  height: 150vh;
  background-image: url(./Screenshot\ 2023-05-24\ 125800.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.popup
{
  width: 400px;
  font-size: larger;
  background-color: white;
  border-radius: 6px;
  position: absolute;
  top: 35%;
  left: 35%;
  text-align: center;
  padding: 0px 30px 30px;
  display: none;
  z-index: 1;
}

.popup img {width: 200px; margin-top: -50px; border-radius: 50%; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);;}
.popup h2{font-size: 38px; font-weight: 500; margin: 1px 0 10px;}
.popup button{width: 100%; margin-top: 20px; padding: 10px 0; background-color: black; color: white; border: 0; outline: none; font-size: 18x; border-radius: 4px; cursor: pointer; box-shadow: 0 5px 5px rgba(0, 0, 0, 2);}

.container-actual 
{
  width: 60vw;
  height: 50vh;
  outline: 2px solid black;
  background-image: url(https://img.freepik.com/premium-vector/sports-background-vector-international-sports-day-illustration-graphic-design-decoration-gift-certificates-banners-flyer_7888-963.jpg?size=626&ext=jpg&ga=GA1.2.1339066450.1682060892&semt=sph);
  background-size: cover;
  z-index: 1;
  position: absolute;
  display: none;
  left: 20%;
  top: 25%;
}

.upper {
  color: rgb(0, 0, 0);
  font-family: cursive;
  font-weight: bolder;
  text-shadow: 4px 4px 8px rgb(0, 0, 0);
  padding-left: 20px;
}

.wait {
  display: grid;
  grid-template-columns: 15fr 1fr;
  text-align: center;
}

.actual 
{
  padding-top: 150px;
  text-align: center;
  height: 40vh;
  width: 100%;
}

.rigth-details 
{
  outline: 2px solid black;
}

.words 
{
  color: black;
  font-family: cursive;
  font-weight: bolder;
  text-shadow: 4px 4px 8px rgb(0, 0, 0);
  font-size: xx-large;
}

#cancel
{
  background-color: black;
  color: white;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  margin: 10px;
}

#reg
{
  background-color: black;
  color: white;
  border-radius: 5px;
  height: 35px;
  width: 100px;
}

#myform input
{
  height: 25px;
  font-size: x-large;
  min-width: 150px;
  border-radius: 5px;
  border: 2px solid black;
}

#f10
{
  height: 30px;
  font-size: x-large;
  max-width: 250px;
  border-radius: 5px;
  border: 2px solid black;
}

.social {
  padding: 7px;
  padding-right: 20px;
  margin: 5px;
  border-radius: 6px;
  overflow: hidden;
}

.social a
{
  max-width: 55px;
  font-size: 30px;
  color: #F4FFFE;
  border-style: groove;
  border-color: grey;
  padding: 10px;
  border-radius: 6px;
  display: inline-block
}

.social a:hover 
{
  background-color: grey;
  color: white;
  transition: background-color 0.6s ease-out, color 0.6s ease-out;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-left: 20px;
}

.dropdown-content 
{
  word-spacing: normal;
  text-align: center;
  background-color: white;
  border: 2px solid black;
  position: absolute;
  width: 250px;
  box-shadow: 0px 8px 16px 0px black;
  display: none;
  z-index: 1;
}

.dropdown-content a 
{
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #d1d1d1;}

.dropdown:hover .dropdown-content {display: block;}

.flip-card 
{
  margin-left: 200px;
  display: inline-flex;
  width: 400px;
  height: 300px;
  background-color: transparent;
}

.flip-card-inner 
{
  position: relative;
  text-align: center;
  height: 80%;
  width: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner 
{
  transform: rotateY(180deg);
  height: 100%;
}

.flip-card-front, .flip-card-back 
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front 
{
  background-color: gray;
}

.flip-card-back 
{
  overflow: hidden;
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}

.i{height: 237px; width: 250px;}

.flip-card:hover .i
{
  height: 300px;
  width: 300px;
}

.wrapper 
{
  height: 100vh;
  margin-top: 10vh;
}
.container 
{
  max-width: 1200px;
  height: 100vh;
  margin: auto;
  padding: 20px;
}
.container h1 
{
  text-align: center;
  margin: 20px 0;
  font-size: 3rem;
}
.card {
  width: 32%;
  height: 30vh;
  position: relative;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}
.card img {
  height: 100%;
  width: 100%;
  filter: grayscale();
  box-shadow: 0 0 20px #333;
}
.gallery 
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card:hover {
  transform: scale(1.03);
  transition: 0.3s;
  filter: drop-shadow(0 0 10px #333);
}
.card:hover img {
  filter: grayscale(0);
}
.card figcaption {
  position: absolute;
  bottom: 0;
  left:0;
  padding: 25px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  height: 20%;
  width: 100%;
  opacity: 0;
  border-radius: 0 0 10px 10px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: 0.3s;
}

.card:hover figcaption {
  opacity: 1;
  transform: scale(1.03);
}

a{color:white; text-decoration: none;}

.head
{
  font-size: 100px;
}

.head::before{
  content:"";
  background-image: url(ashok-chakra.png);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center; 
  opacity:0.5;
  position:absolute;
  top:0;
  bottom: 12px;
  right:0;
  left:0;
  z-index: -3;
}